@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,700;1,700&display=swap');
@import "tailwindcss";


html ,body{
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}