@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

html ,body{
font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}